@charset "UTF-8";
/* CSS Document */

/* Reset Style */
html {
  overflow-y: scroll;
}
body {
  line-height: 1;
  color: #000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
img, abbr, acronym, fieldset {
  border: 0;
}

/* YUI 3.4.1 (build 4118) Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License. http://yuilibrary.com/license/ */
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
}
table {
  font-size: inherit;
  font: 100%;
}

/* 汎用クラス */
.txt-red {
	color: #F00;
}

/*----------------------------------------------------
	element style
----------------------------------------------------*/
body {
  color: #111;
  font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro w3","Hiragino Kaku Gothic Pro","Osaka","ＭＳ Ｐゴシック","MS P Gothic","Arial",sans-serif;
  font-size: 62.5%;
}
* html body, * html input, * html textarea {
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
a {
  color: #2146c2;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}




/*----------------------------------------------------
	main style
----------------------------------------------------*/
#header {
	margin-bottom: 50px;
	padding: 40px 0;
	border-top: solid 3px #2146c2;;
	border-bottom: solid 3px #2146c2;
}
#header #head-inner {
	width: 1000px;
	margin: 0 auto;
	*zoom: 1;
}
#head-inner:after {
  content: ""; 
  display: block; 
  clear: both;
}
#logo {
	float: left;
}
#site-title {
	float: right;
	padding-top: 20px;
	font-size: 180%;
	font-weight: bold;
	text-align: right;
}
#wrapper {
	width: 1000px;
	margin: 0 auto 30px;
	*zoom: 1;
}
#wrapper:after {
  content: ""; 
  display: block; 
  clear: both;
}
#main {
	width: 650px;
	float: left;
}
#main h1 {
	margin-bottom: 40px;
	font-size: 260%;
}
#main h2 {
	margin-bottom: 20px;
	font-size: 200%;
}
#main ol {
	margin-left: 2em;
	font-size: 160%;
	line-height: 2;
}
#main li {
	margin-bottom: 3em;
}
#main ol ol {
	margin-top: 10px;
	font-size: 100%;
}
#main p {
	display: block;
	margin: 1em 0;
	text-align: center;
}
#main img {
	padding: 5px;
	border: solid 1px #dfdfdf;
}
#main dt {
	margin-top: 10px;
	font-weight: bold;
}
#aside {
	float: right;
	width: 280px;
}
#menu ol {
	margin-left: 2em;
	font-size: 160%;
}
#menu ol li {
	margin-bottom: 30px;
}
#menu ol ol {
	margin-top: 10px;
	font-size: 87%;
}
#menu ol li li {
	margin-bottom: 10px;
}

#footer {
	padding: 10px;
	background: #2146c2;
	font-family:Verdana, Geneva, sans-serif;
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
}









