<ol id="side-menu">
<li><a href="login.html">ログインする</a></li>
<li>基本的な投稿の方法
<ol>
<li><a href="post01.html">タイトル・文章を入力する</a></li>
<li><a href="post02.html">文章に画像を挿入する</a></li>
<li><a href="post03.html">投稿（下書き）した記事の確認・修正をする</a></li>
</ol>
</li>
<li><a href="manage.html">各コンテンツの管理画面を表示する</a></li>
<li>[ 石澤研究所だより Blog ] の更新
<ol>
<li><a href="blog01.html">カテゴリーを選択する</a></li>
<li><a href="blog02.html">カテゴリーを追加する</a></li>
<li><a href="blog03.html">アイキャッチ画像を登録する</a></li>
</ol>
</li>
<li>[ 私の偏愛アイテム ] の更新
<ol>
<li><a href="item01.html">アイキャッチ画像を登録する</a></li>
<li><a href="item02.html">投稿者名・アイコンを登録する</a></li>
</ol>
</li>
<li>[ 石澤研究所MOVIE ] の更新
<ol>
<li><a href="movie01.html">本文にyoutubeを埋め込む</a></li>
<li><a href="movie02.html">アイキャッチ画像用に動画のIDを登録する</a></li>
</ol>
</li>
</ol>